@import '../../global/variable.scss';

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-weight: 800;
        text-transform: uppercase;

        .normal {
            display: block;
            font-size: 3.625rem;
            color: $color-neutral-20;
            font-family: $font-DM_Sans;
            line-height: 4.16875rem;
            letter-spacing: .12rem;
            text-shadow:
                0 0.25rem 1rem #0000008e,
                -0.125rem 0.125rem 0 #000,
                0.125rem 0.125rem 0 #000,
                0.125rem -0.125rem 0 #000,
                -0.125rem -0.125rem 0 #000;
        }
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;

        span {}

        .arrow {
            height: 0.8125rem;
            width: auto;
        }
    }
}