@import '../../global/variable.scss';

.cards {
    display: block;
    font-size: 2.23625rem;
    color: $color-white;
    font-family: $font-DM_Sans;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 2.571875rem;
    letter-spacing: 2%;
    display: flex;
    flex-flow: row wrap;
    width: 33rem;
    margin-top: 2.125rem;
    margin-bottom: 2.125rem;

    .card {
        background-color: transparent;
        width: 2.544375rem;
        height: 2.948125rem;
        margin: 0.3125rem 0.1928125rem;
        border-radius: 0.346875rem;
        overflow: hidden;
        perspective: 1000px;

        .card__inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transform-style: preserve-3d;
            pointer-events: all;
            // transition: transform ease-in-out 2s;
            // &:hover {
            //     transform: rotateX(1800deg);
            // }

            .inner__front,
            .inner__back {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                background-color: $color-neutral-50;
            }

            .inner__back {
                transform: rotateY(180deg);
            }
        }
    }
}