@import '/style/fonts.css';

* {
    padding: 0;
    margin: 0;
}

body,
#root {
    width: 100%;
    height: 100dvh;
}

.wrapper {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}

a,
button {
    text-decoration: none;
    color: white;
    pointer-events: auto;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
}