@import '/style/fonts.css';

* {
    padding: 0;
    margin: 0;
}

body,
#root {
    width: 100%;
    height: 100dvh;
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}